In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df=pd.read_csv('titanic.csv')
df

In [ ]:
#question 1

columns = pd.MultiIndex.from_product([df.pclass.unique(),df.survived.unique()], names=['Pclass','Survived'])

index = pd.MultiIndex.from_product([df.sex.unique(),df.embarked.unique()],names=['Sex','Embarked'])

df1 = pd.DataFrame(np.random.randn(8,6), index=index, columns=columns)
df1

In [ ]:
#question 2
df2=pd.read_csv('train.csv')
df2

In [ ]:
df3=df2.pivot(index='Name', columns='Ticket', values='Age')
df3

In [ ]:
df1

In [ ]:
#guestion 3
df1.stack(-1).unstack(0)

In [ ]:
#guestion 4

pd.melt(df2,id_vars=['Name','Embarked'],value_vars=["Sex","Age"], var_name='Var1', value_name='Var2')

In [ ]:
#guestion5
df2.pivot_table(values=["Fare","Age"],index='Embarked', aggfunc={'Fare':np.mean,'Age':np.median})

In [ ]:
df2.pivot_table(values=["Fare","Age"],index=['Embarked','Sex','Pclass'],aggfunc={'Fare':np.mean,'Age':np.median})

In [ ]:
df2.pivot_table(values=["Fare","Age"],index=['Embarked','Sex','Pclass'], aggfunc={'Fare':[np.mean,np.sum],'Age':[np.median,np.std]})