In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df_Titanic = pd.read_csv('../input/titanic-extended/full.csv')
df_Titanic.head()

1.Sorunun Cevabi

In [ ]:
df_titanic1= df_Titanic.copy()
df_titanic1.info()

#  ********** 1- Create a multi-indexed dataframe ***************

In [ ]:
index = [df_Titanic.Sex.unique(), df_Titanic.Embarked.unique()]
indexes = pd.MultiIndex.from_product(index, names=["Sex", "Embarked"])

column = [df_Titanic.Pclass.unique(), df_Titanic.Survived.unique()]
columns = pd.MultiIndex.from_product(column, names=["Pclass", "Survived"])

print(columns)
print(indexes)

In [ ]:
df_titanic2 = pd.DataFrame(np.random.randn(8,9), index=indexes, columns=columns)
df_titanic2

# ******************** 2- Create pivot table by using pivot *****************

In [ ]:
df_titanic3= df_Titanic.iloc[:10].pivot(index='Name',columns='Ticket',values='Age')
df_titanic3

# ***** 3- Manipulate the table you obtained in the 1st task with the stack and unstack methods

In [ ]:
df_titanic4 = df_titanic2.stack([0,1]).unstack([0,3])
df_titanic4

# ******************** 4-  Create the table below using melt method *****************

In [ ]:
df_titanic5 = df_Titanic.melt(id_vars=['Name','Embarked'], value_vars =['Sex', 'Age'], var_name='var1', value_name='var2').iloc[:10]
df_titanic5

# ********** 5- Create the following pivot tables using the pivot_table method **********

In [ ]:
pd.pivot_table(df_Titanic, values=['Age','Fare'], index="Embarked",aggfunc={'Age' : np.median,'Fare':np.mean})

In [ ]:
pd.pivot_table(df_Titanic, values=['Age','Fare'], index=['Embarked', 'Sex', 'Pclass'],aggfunc={'Age' : np.median,'Fare':np.mean})

In [ ]:
pd.pivot_table(df_Titanic, values=['Age','Fare'], index=['Embarked', 'Sex', 'Pclass'],aggfunc={'Age' : [np.median,np.std],'Fare':[np.mean,np.sum]})